fastapi==0.112.0
uvicorn==0.30.5
structlog==24.1.0
sqlalchemy[asyncio]==2.0.31
asyncpg==0.29.0
aiokafka==0.10.0
redis[hiredis]==5.0.8
python-jose==3.3.0
grpcio==1.65.1
grpcio-tools==1.65.1
pydantic-settings==2.4.0
tenacity==8.5.0
circuitbreaker==2.0.0
prometheus-client==0.20.0
requests==2.32.3
fastavro==1.9.5
alembic==1.13.2
dependency-injector>=4.42.0
# Testing dependencies
pytest==8.3.2
pytest-asyncio==0.23.8
asynctest==0.13.0
pytest-mock==3.14.0

# OpenTelemetry Tracing
opentelemetry-api==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-exporter-otlp==1.36.0

# Instrumentation
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-instrumentation-requests==0.57b0
opentelemetry-instrumentation-redis==0.57b0
# opentelemetry-instrumentation-sqlalchemy==0.57b0
opentelemetry-instrumentation-grpc==0.57b0
